.text-align-center {
	text-align: center;
}

body > .container {
	padding-top: 15px;
}

table .checkbox {
	margin-top: 0;
	margin-bottom: 0;
}

.col-edit {
	width: 50px;
}

.col-icons {
	width: 50px;
}

.col-checkboxes input[type="checkbox"] {
	margin-right: 10px;
}

.cursor-pointer {
	cursor: pointer;
}

.hide {
	display: none;
}
