.text-align-center {
	text-align: center;
}

body > .container {
	padding-top: 15px;
}

table .checkbox {
	margin-top: 0;
	margin-bottom: 0;
}

.col-edit {
	width: 50px;
}

.col-icons {
	width: 60px;
}

.col-checkboxes input[type="checkbox"] {
	margin-right: 10px;
}

.cursor-pointer {
	cursor: pointer;
}

.hide {
	display: none;
}

.margin-bottom-minus-5 {
	margin-bottom: -5px;
}

.margin-top-minus-5 {
	margin-top: -5px;
}

td.col-checkboxes input[type="checkbox"][disabled] {
	cursor: inherit;
}
